<h1>Showing a todo</h1>

<p>
Name: <%= @todo.name  %>
</p>
<p>
Description: <%= @todo.description  %>
</p>
<p>
Time: <%= @todo.time  %>
</p>

<!-- created links to go back to todos on show page -->
<%= link_to "Edit this todo", edit_todo_path(@todo) %> | <%= link_to "Back to todos", todos_path() %> 