<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- to make sure that our code is clean this code for flash messages above "yield" has been moved to a partial named _messages.html.erb
  located in views/layouts/ and has been replaced with the render reference.
  (link for more on partials https://guides.rubyonrails.org/layouts_and_rendering.html)  -->
    
    <%= render 'layouts/messages' %>

    
    <%= yield %>
  </body>
</html>
